<section class="home-banner">
    <div class = "home-banner__content">
        <div class="banner-copy">
            <!-- <h1>4 Tech Startups in 2024</h1> -->
            <h1>Prototype That App Idea!</h1>
            <h3>'Everyday' App ideas from thought to MVP.</h3>
            <p>Visualize That App is a digital platform showcasing digital ideas from thought to prototype. Building 4 Tech 
                Startups in 2024.
            </p>
            <!-- <div ngIf="mobile"><img src="assets/images/rocket.png" alt="banner image"></div> -->
            <span class="button">
                <button class="view-button">View Ideas</button>
            </span>
        </div>
        <div class="banner-image">
            <img src="assets/images/visualize-logo.png" alt="banner image">
            </div>
        </div>
</section>
