<section class="portfolio-cards">
  <h1>Currently Prototyping</h1>
  <div class="card-left-image">
    <!-- card image -->
    <div class="card-image">
      <div class="label">
        In progress
      </div>
      <img src="assets/images/portfolio-items/phepho-farmers-placeholder.png" alt="banner image">
    </div>
     <div class="card-copy">
      <h1>Phepho Farmers App</h1>
      <h3>Agritech</h3>
      <p>
        Phepho Farmers is an agritech app that connects backyard or small-scale farmers with customers. The plaform's
        goal is to help small-scale
        farmers make money from their produce and to assist potential customers in finding home grown agricultural
        products.
      </p>
      <span class="card-copy-footer">Landing Page & App Coming Soon!</span>
      <span class="card-copy-icons">
        <span class="card-copy-icon">Wireframe</span>
        <span class="card-copy-icon">UX | UI</span>
        <span class="card-copy-icon">APP Development</span>
      </span>
      <span class="button">
        <button class="view-button">View Progress</button>
    </span>
    </div>

  </div>
  <!-- card 02 -->
  <div class="card-right-image">
    <div class="card-copy">
      <h1>Kids ZA Travel PWA App</h1>
      <h3>Traveltech</h3>
      <p>

        KidszaTravel is a travel tech app that assists families with kids plan holidays, and check reviews of
        activities, hotels, and staycations.
        Users can view or provide reviews, of kids-friendly activities, hotels, and staycations. App also boosts a
        holiday planning and budgeting feature.
      </p>
      <!-- card footer -->
      <span class="card-copy-footer">Landing Page & App Coming Soon!</span>
      <span class="card-copy-icons">
        <span class="card-copy-icon">Wireframe</span>
        <span class="card-copy-icon">UX | UI</span>
        <span class="card-copy-icon">APP Development</span>
      </span>
      <span class="button">
        <button class="view-button">View Progress</button>
    </span>
    </div>
    
    <div class="card-image">
      <div class="label">
        In Progress
      </div>
      <img src="assets/images/portfolio-items/kids-app-placeholder.png" alt="banner image">
    </div>
  </div>
  <!-- card 03 -->
  <div class="card-left-image">
    <div class="card-image">
      <div class="label">
        Building Soon
      </div>
      <img src="assets/images/portfolio-items/yourshoppinglogo.png" alt="banner image">
    </div>
    <div class="card-copy">
      <h1>Your Shopping App</h1>
      <h3>Retail Tech</h3>
      <p>
        The personal shopper app is an application where you can find a personal shopper, to run errands or do your
        grocery/ clothing shopping.
        <strong>But:</strong> We have online shopping, why would I need a personal shopper? At times you need something
        that you can't find online and don't have enough time to go to town to buy that cutlery, clothing or shoes that
        you want.
      </p>
      <span class="card-copy-footer">Landing Page & App Coming Soon!</span>
      <span class="card-copy-icons">
        <span class="card-copy-icon">Wireframe</span>
        <span class="card-copy-icon">UX | UI</span>
        <span class="card-copy-icon">APP Development</span>
      </span>
    </div>
  </div>
  <!-- card 04 -->
  <div class="card-right-image">
    <div class="card-copy">
      <h1>PI on Click App</h1>
      <h3>Security Tech</h3>
      <p>
        Are you in need of a private investigator to help you solve a case? PI on Click is a platform that helps clients
        find the nearest private investigator for various cases. PI on Click also features
        an emergency option that can be activated in situations such as missing vehicles, missing persons, stolen
        property, and more.
      </p>
      <span class="card-copy-footer">Landing Page & App Coming Soon!</span>
      <span class="card-copy-icons">
        <span class="card-copy-icon">Wireframe</span>
        <span class="card-copy-icon">UX | UI</span>
        <span class="card-copy-icon">APP Development</span>
      </span>
    </div>
    <div class="card-image">
      <div class="label">
        Building Soon
      </div>
      <img src="assets/images/portfolio-items/pionclick.png" alt="banner image">
    </div>
  </div>

</section>
