.footer {
    text-align: center;
    background: black;
    color: white;

    &__content {
        padding: 2em 1em;

        .title {
        font-size: 2rem;
        font-family: "Signika Negative", sans-serif;
        padding: 1em 0 0.5em;
        }

        .copy {
            font-family: "Quicksand", sans-serif;
            font-weight: 500;

            .email-copy {
                font-size: 1em;
                line-height: 1.5;
            }

            .text-breaker {
            font-size: 1rem;
            font-family: "Signika Negative", sans-serif;
            font-weight: 700;
            padding: 0.5em 0;
            }

            .social-links {
                padding: 1em 0;

                .fa-linkedin {
                    color: white;
                    text-decoration: none;
                    font-size: 1.5em;
                    margin: 0.5rem;
                  }
                  
                  .fa-instagram {
                    color: white;
                    text-decoration: none;
                    font-size: 1.5em;
                    margin: 0.5rem;
                  }
            
                  .fa-tiktok {
                    color: #111111;
                    filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
                    width: 14px;
                    font-size: 1.5em;
                    margin: 0.5rem;
                  }
            }
        }
    }

}