.phepofarmer-page {
  &__banner {
    background: url('/assets/images/phepho-farmers/phepho_background.jpg') rgba(58, 181, 74, 0.2);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    padding: 1rem;
    z-index: 0;

    @media(min-width: 768px) {
      padding: 1rem 3rem;
      height: 64vh;
    }

    @media(min-width: 1280px) {
      padding: 2rem 5rem 2rem 7rem;
    }


    .container {
      .glass-background {
        margin: 2rem 0;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 3.5em 3.5em 16em 3.5em;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        width: 75vw;
        -webkit-backdrop-filter: blur(10px);
        z-index: 3;

        .content {

          display: flex;
          flex-direction: column;

          @media(min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            height: 48vh;
          }

          @media(min-width: 1024px) {
            height: 55vh;
          }

          .copy {
            color: white;
            padding: 1.5rem;

            @media(min-width: 768px) {
              padding: 2rem;
            }

            @media(min-width: 1280px) {
              padding: 5rem;
            }

            .title {
              font-size: 23px;

              @media(min-width: 768px) {
                font-size: 40px;
                width: 40vw;
              }

              @media(min-width: 1024px) {
                font-size: 50px;
                width: 50vw;
              }

              @media(min-width: 1280px) {
                font-size: 64px;
                width: 40vw;
              }

              @media(min-width: 2560px) {
                font-size: 130px;
                width: 45vw;
              }
            }

            p {
              font-size: 14px;

              @media(min-width: 768px) {
                font-size: 20px;
                font-weight: 300;
              }

              @media(min-width: 2560px) {
                font-size: 50px;
              }
            }
          }

          .banner-image {
            .app-background {
              width: 30vh;
              z-index: 0;

              @media(min-width: 768px) {
                width: 45vh;
              }

            }

            .app {
              height: 30vh;
              z-index: 2;

              @media(min-width: 768px) {
                height: 45vh;
              }
            }
          }
        }
      }
    }
  }

  &__overview {
    text-align: center;
    padding: 2rem 10rem;

    .overview-title {
        padding: 0.5em;
        font-size: 23px;

        @media(min-width: 768px) {
            font-size: 36px;
        }
    }

    .overview-copy {}
  }

  &__challenge {
    .title {
        padding: 0.5em;
        font-size: 20px;

        @media(min-width: 768px) {
            font-size: 30px;
        }
    }
    .challenge-copy {}
  }

  &__personas {
    .title {
        padding: 0.5em;
        font-size: 20px;

        @media(min-width: 768px) {
            font-size: 30px;
        }
    }
    .personas-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media(min-width: 768px) {
            flex-direction: row;
            justify-content: center;

        }

        img {
            width: 20vw;
            padding: 1rem;
        }
    }
  }

  &__lowFidelity {
    // background-image: url('/assets/images/phepho-farmers/phepho_background.jpg');
    background: rgba(58, 181, 74);
    background-size: cover;
    background-repeat: no-repeat;

    .title {
        padding: 0.5em;
        font-size: 20px;

        @media(min-width: 768px) {
            font-size: 30px;
        }
    }

    .lowFidelity-content {
        display: flex;
        flex-wrap: wrap;
        img {
            width: 15vw;
            padding: 1rem;
        }
    }

    
  }

  &__solution {
    .title {
        padding: 0.5em;
        font-size: 20px;

        @media(min-width: 768px) {
            font-size: 30px;
        }
    }
    .solution-copy {}
  }

  &__landingPage {
    background: rgba(58, 181, 74);
    .title {
        padding: 0.5em;
        font-size: 20px;

        @media(min-width: 768px) {
            font-size: 30px;
        }
    }
  }

  &

  &__designSystem {
    .designSystem-content {}
  }

}
