<section class="phepofarmer-page">
  <div class="phepofarmer-page__banner">
    <div class="container">
      <div class="glass-background">
  <div class="content">
      <div class="copy">
          <div class="title">Fresh Produce from Verified Backyard Farmers.</div>
          <p>From my backyard to your fridge</p>
          <button>Overview</button>
      </div>
      <div class="banner-image">
          <img class ="app-background" src="assets/images/phepho-farmers/banner_image.png">
      </div>
  </div>
      </div>
      </div>
  </div>
  <div class="phepofarmer-page__overview">
    <div class="overview-title">Phepo Farmers</div>
    <div class="overview-copy">
      Phepo Farmers is an agritech app that connects backyard or small-scale farmers with customers. The plaform's
      goal is to help small-scale farmers make money from their produce and to assist potential customers in finding
      home grown agricultural
      products.
    </div>
  </div>
  <div class="phepofarmer-page__challenge">
    <div class="title">Challenge</div>
    <div class="challenge-copy">
      Three Main Challenges
      <ul>
        <li>
          Households in rural areas grow seasonal vegetables for nutrition and food security. Oversupply of vegetables
          is shared among the community, missing the economic opportunity.
        </li>
        <li>Small-scale food vendors spend an hour or two each day traveling to purchase the vegetables required for
          their businesses.</li>
        <li>Private car taxis fail to reach daily income targets due to competition with 15-seater taxis.</li>
      </ul>
    </div>
  </div>
  <div class="phepofarmer-page__personas">
    <div class="title">Personas</div>
    <div class="personas-content">
      <img src="assets/images/phepho-farmers/persona_farmer.png">
      <img src="assets/images/phepho-farmers/persona_buyer.png">
      <img src="assets/images/phepho-farmers/persona_taxi.png">
    </div>
  </div>
  <div class="phepofarmer-page__solution">
    <div class="title">Solution</div>
    <div class="solution-copy">
      Create a platform that connects backyard farmers with potential customers and facilitates delivery.
    </div>
  </div>
  <!-- <div class="phephofarmer-page__designSystem">
    <div class="designSystem-content"></div>
  </div> -->
  <div class="phepofarmer-page__lowFidelity">
    <div class="title">Low Fidelity</div>
    <div class="lowFidelity-content">
      <img src="assets/images/phepho-farmers/landing-page(low).png">
      <img src="assets/images/phepho-farmers/sign-up-page(low).png">
      <img src="assets/images/phepho-farmers/login-page(low).png">
      <img src="assets/images/phepho-farmers/categories-page(low).png">
      <img src="assets/images/phepho-farmers/products-page(low).png">
    </div>
  </div>
  <div class="phepofarmer-page__firstDesigns">
    <div class="title">First Designs</div>
    <div class="firstDesigns-content">
      <img src="assets/images/phepho-farmers/phepho_landing.png">
      <img src="assets/images/phepho-farmers/sign_up.png">
      <img src="assets/images/phepho-farmers/sign_in.png">
      <img src="assets/images/phepho-farmers/categories.png">
      <img src="assets/images/phepho-farmers/products.png">
    </div>
  </div>
  <div class="phepofarmer-page__landingPage">
    <div class="title">Landing Page</div>
    <div class="landingPage-content">
      <img src="assets/images/phepho-farmers/phepho_farmer_landing.png">
    </div>
  </div>
  <div class="phepofarmer-page__finalDesign">
    <div class="title">Final Design</div>
    <div class="finalDesign-copy">Final Design coming soon.</div>
  </div>
</section>
