<section class="blog-cards">
    <div class="blog-cards__title">Build with us.</div>
    <div class="blog-cards__cards">
        <div class="card-01">
              <div class="card-image">
                <!-- <div class="label">
                    Start Up Ideas Series
                    </div> -->
                <img src="assets/images/portfolio-items/kidszaplaceholder.png" alt="banner image">
            </div>
            <!-- card copy -->
            <div class="card-copy">
            <h3>Visualizing your app idea | Wireframing</h3>
            <p>lacinia accumsan felis venenatis id. Nunc dignissim mauris vulputate faucibus mattis. Quisque feugiat, sem ut auctor bibendum,
                read more...</p>
            </div>
            <span class="card-copy-icons">
                <span class="card-copy-icon">Building your idea</span>
            </span>
            </div>
            <div class="card-01">
                <div class="card-image">
                  <!-- <div class="label">
                      Start Up Ideas Series
                      </div> -->
                  <img src="assets/images/portfolio-items/kidszaplaceholder.png" alt="banner image">
              </div>
              <!-- card copy -->
              <div class="card-copy">
              <h3>Visualizing your app idea | Wireframing</h3>
              <p>lacinia accumsan felis venenatis id. Nunc dignissim mauris vulputate faucibus mattis. Quisque feugiat, sem ut auctor bibendum,
                  read more...</p>
              </div>
              <span class="card-copy-icons">
                  <span class="card-copy-icon">Start up ideas series</span>
              </span>
              </div>
        </div>
</section>
