<section class="about-snippet">
    <div class="about-snippet-title">
        The Visualize That App Story!
    </div>
    <div class="about-snippet-paragraph">
        Remember to own your journey, that no one is going to understand your dreams the way you do.
        Visualize That App is a digital platform showcasing digital ideas from thought to prototype.
        We all have that ideas that never make it past the 'thought stage', this is our take on how we would execute
        'everyday' app ideas. Join us on the journey as we take 'everyday' app ideas 
        from thought to Prototype.
    </div>
    </section>
